
@{
    ViewData["Title"] = "Index";
}

<h2>Login</h2>
<div>
    <div class="row text-danger">
        @ViewBag.Error
    </div>
    <div class="row">
        <form action="@Url.Content("~/Login/Auth")" method="post">
            <div class="mb-3">
                <label for="usuarioInput" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuarioInput" aria-describedby="usuarioHelp" name="usuario">
                <div id="usuarioHelp" class="form-text">Ingresa el usurio correcto</div>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="saveUser">
                <label class="form-check-label" for="saveUser">Guardar usuario</label>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</div>
